@model SearchModel

<form method="post" asp-page-handler="Search" style="display: flex; flex-direction: row; align-items: center;">
    <div class="form-group" style="display: flex;">
        @foreach (var item in Model)
        {
            <div class="form-group" style="margin-right: 10px;">
                <label>@item.Key</label>
                <input type="text" name="@item.Key" value="@(Model.CurrentFilters != null && Model.CurrentFilters.ContainsKey(item.Key) ? Model.CurrentFilters[item.Key] : "")" class="form-control" />
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary" formaction="?handler=Search">@Model.CultureStrings["Search"]</button>
    <button type="submit" class="btn btn-secondary" formaction="?handler=ClearFilters" style="margin-left: 10px;">Filter löschen</button>
</form>

